@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;600;700&display=swap');

:root{
    /* ------------------------ Primary  ---------------------------------- */
    --blue : hsl(233,87%,63%);

    /* -------------------------- Secondary -------------------------------- */
    --Pale__Blue: hsl(223, 100%, 88%);
    --Light__Red: hsl(354, 100%, 66%);
    
    /* --------------------------- Neutral --------------------------------- */
    --Gray: hsl(0, 0%, 59%);
    --Very__DarkBlue: hsl(209, 33%, 12%);

    /* -------------------------- Typo ------------------------------------- */
    --Font__size: 20px;
    --Weights__300: 300; 
    --Weights__600:600;
    --Weights__700: 700;


    /* ---------- font familly ---------------------------- */
    --font__family: 'Libre Franklin', sans-serif;

}


html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--font__family);
    color:var(--Gray);

    background-color: hsl(0, 18%, 97%);

}

h1,
h2,
p{
    margin: 0;
    line-height: 32px;
}

body{
    width:375px;
    margin: 80px auto;
    border-radius: 10px;
    background: #fff;
}

main{
    margin: 40px 40px;
   

}

.sectionOne{
    text-align: center;
}

.sectionOne h1{
   
    font-size: 2rem;
    font-weight: 700;
    color: var(--Very__DarkBlue);
    margin-bottom: 30px;
    padding-top: 60px;
    text-transform: uppercase;
}

.sectionOne h1 span{
    color: var(--blue);
}

.sectionOne h2{
    font-size: 2.2rem;
    font-weight: var(--Weights__300);
}

.sectionOne h2 span{
    color: var(--Very__DarkBlue);
    font-weight: var(--Weights__700);
}

.sectionOne p{
    color: var(--Very__DarkBlue);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn__email{
    margin: 0px auto;
}

.btn__message{
    margin: 0px auto;
    padding: 0px;
}

input,.bt__Notify{
    border-radius: 28px;
    flex-shrink: 0;
    width: 270px;
    height: 40px;
    background: #fff;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.00);
    border: 1px solid #C2D3FF;
    color:var(--Gray);
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
    padding-left: 15px;
    margin-top: 10px;
}

.bt__Notify{
    background-color: var(--blue);
    text-align: center;
    padding: 0;
    font-weight: 600;
    margin-bottom: 70px ;
    margin: 10px auto 40px auto;
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
    color: #fff;
  
   
   
}

.bt__Notify:hover{
    background-color: var(--Pale__Blue);
    transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease; 
    box-shadow: #000;
}




.sectionTwo img{
    height: 180px;
    flex-shrink: 0;

}



ion-icon{
    height: 32px;
    width: 32px;
    color: var(--Pale__Blue);
    margin-bottom: 15px;

}

ion-icon:hover{
    fill:var(--blue);
    transition: fill 0.5s ease;

}

footer{
    margin: 80px;
    text-align: center;

}

.pStyle{
    display: none; 
    font-family: Libre Franklin;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    padding-left: 20px;
    margin: 7px;
    text-align: left;
    margin-bottom: 0px;

}


@media(min-width:40.7em){
    body{
        width: 1440px;
    }

    main{
        width: 712px;
        margin: 40px auto;
    }
    .sectionTwo img{
        height: 420px;
        margin-top: 40px;
        
    }
    .sectionOne h1{
        font-size: 3.2rem;
        margin-bottom: 40px;
    }
    .sectionOne h2{
        font-size: 4.8rem;
        margin-bottom: 15px;
    }
    .sectionOne p{
        font-size: 2rem;
        margin-bottom: 40px;
    }
    
    input,.bt__Notify{
        font-size: 1.6rem;
        width: 421px;
        height: 55px;
    }
    .bt__Notify{
        width: 190px;
        margin-top: 15px;
    }

    .btn__email{
        display: inline-flex;
        gap: 15px;
    }
    


}